/a.out
/array.c
/biglab.c
/brute.c
/classprac.c
/client.cpp
/curses.c
/dest.txt
/fizzbuzz.c
/fizzbuzz.c.cs
/fork.c
/hello
/hello.out
/helloclass.c
/hellolab.c
/matrix
/matrix.c
/my_cp.c
/my_who.c
/my_who_for_lab3.c
/mycat.c
/myfind.c
/myls2.c
/mypr
/myprog
/myprog.c
/nameage.c
/new_source.txt
/prime.c
/pvariable.c.code-workspace
/pvaries.c
/sec_01_is_l.c
/server.cpp
/signal.c
/snake
/snakegame
/stringsnthings.c
/teaag.c
/testprep.c
/whileloop.c
/whodunit.c